@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

body{
    background-color: #222831;
    /* overflow: hidden; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro{

    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: 'VT323', monospace;
}

.role{

    margin-top: 10px;
    color:#EEEEEE;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-family: 'VT323', monospace;

}

.fixed-curly{
    font-size: 4em;
    color: #EEEEEE;
    margin-left: 10px;
    margin-right:10px;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.card{
    background-color: #1D2B53;
    height: 65vh;
    width: 75vh;
    border-radius: 20px;
    border:solid;
    border-color: #687EFF;
    animation: glow 2.5s infinite alternate;
}


  
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px #687EFF; /* Initial shadow color */
    }
    100% {
      box-shadow: 0 0 5px #687EFF, 0 0 10px #687EFF, 0 0 20px #687EFF, 0 0 40px #687EFF; /* Glowing effect with multiple layers */
    }
  }

.button{

}
  

