@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #F9F7CF;
    /* overflow: hidden; */
}

.container{
    background-image: url(./monitor.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    
    /* background-color: red; */
}

.screen{
    position: relative;
    bottom: 7.5%;
    height: 66vh;
    width:99vh;
    z-index: -1;
    background-image: url('./mac1.jpg');
    background-size: cover;
    background-position: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5%;
}

.intro{

    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
    font-family: 'VT323', monospace;
}

.role{

    margin-top: 10px;
    color:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-family: 'VT323', monospace;

}

.fixed-curly{
    font-size: 4em;
    color: black;
    margin-left: 10px;
    margin-right:10px;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.button{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20%;
   
}

.profile-btn{
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Same as width to make it circular */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
    position: relative; /* Positioning for absolute elements inside */
}

.skillset-btn{
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Same as width to make it circular */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
    position: relative; /* Positioning for absolute elements inside */
}

.project-btn{
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Same as width to make it circular */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
    position: relative; /* Positioning for absolute elements inside */
}

.footer{
   font-family: 'VT323';
   font-size: larger;
   display: flex;
   justify-content: center;
   align-items: center;
}

