@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #FEC7B4;
    /* overflow: hidden; */
}

.container{
    background-image: url(./img/monitor.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    z-index: 1;
    
    /* background-color: red; */
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 26%;
   
}

.screen{
    position: relative;
    bottom: 11%;
    height: 70vh;
    width:99vh;
    z-index: -1;
    background-image: url('./img/mac1.jpg');
    background-size: cover;
    background-position: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.intro{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
    font-family: 'VT323', monospace;
    z-index: 1;
    position: relative;
}

.role{

    margin-top: 0px;
    color:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-family: 'VT323', monospace;
    font-weight: 1000;
    font-size: 1.5rem;
    z-index: 1;
    position: relative;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;

}

.fixed-curly{
    font-size: 4em;
    color: black;
    margin-left: 10px;
    margin-right:10px;
    z-index: 1;
    position: relative;
}



.profile-btn{
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Same as width to make it circular */
    border: none; /* Remove border */
    position: absolute; /* Positioning for absolute elements inside */
}

.skillset-btn{
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Same as width to make it circular */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
    position: relative; /* Positioning for absolute elements inside */
    margin-top: 20px;
}

.project-btn{
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Same as width to make it circular */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
    position: relative; /* Positioning for absolute elements inside */
    margin-top: 20px;
}

.footer{
   font-family: 'VT323';
   font-size:x-large;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
}

.folder{
    background-color: red;
    width: 100px;
    height: 100px;
}

